# Ignorar entornos virtuales de Python
venv/
.venv/

# Ignorar archivos de entorno
.env
credentials.json
credentials

# Ignorar archivos y carpetas de compilación de Python
__pycache__/
*.py[cod]
*.log

# Ignorar configuraciones de IDE
.vscode/
.idea/

# Ignorar bases de datos locales
*.sqlite3

# Ignorar archivos generados por Flask
app/__pycache__/
instance/

# Node.js (si usas npm/yarn/pnpm)
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de compilación (si usas React/Vue)
dist/
build/

# Cachés y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar compilaciones de Android (Expo/React Native)
android/

backend/app/static/css/*.css.map