@forward 'header';
@forward 'features';
@use 'variables' as v;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: min(90%, 1200px);
  margin: v.$spacing-unit * 3 auto;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0 6px 12px v.$color-shadow;
  flex: 1; // Asegura que el contenido ocupe espacio restante
}
