@use'variables' as v;    // Variables globales (colores, tipografías, etc.)
/* Estilos para formularios */
.styled-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: v.$color-background;
    padding: v.$spacing-unit * 2;
    border-radius: v.$border-radius;
    box-shadow: 0 4px 8px v.$color-shadow;
}

.styled-form .form-group {
    margin-bottom: v.$spacing-unit * 2;
}

.styled-form label {
    font-weight: 600;
    color: v.$color-primary;
    display: block;
    margin-bottom: v.$spacing-unit;
}

.styled-form .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid v.$color-secondary;
    border-radius: v.$border-radius;
    font-size: 1rem;
    background-color: v.$color-bg;
    transition: border-color v.$transition-speed ease, box-shadow v.$transition-speed ease;
}

.styled-form .form-control:focus {
    border-color: v.$color-primary-dark;
    box-shadow: 0 0 4px v.$color-primary;
    outline: none;
}

.error-message {
    color: v.$color-primary-dark;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

/* Botones dentro de formularios */
.styled-form .btn {
    width: 100%;
    padding: 0.75rem;
    background-color: v.$color-primary;
    color: v.$color-white;
    border: none;
    border-radius: v.$border-radius;
    font-weight: 600;
    cursor: pointer;
    transition: background-color v.$transition-speed ease;
}

.styled-form .btn:hover {
    background-color: v.$color-primary-dark;;
    transform: translateY(-2px);
}

input:focus + label,
input:valid + label {
    transform: translateY(-25px);
    color: v.$color-primary-dark;
    font-size: 0.9rem;
    transition: all v.$transition-speed ease;
}