<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Crear Cuenta</h1>
    </header>
    <main>
        <form method="POST" action="" class="styled-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username(class="form-control", id="username", placeholder="Nombre de usuario") }}
                {% for error in form.username.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class="form-control", id="email", placeholder="Correo electrónico") }}
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class="form-control", id="password", placeholder="Contraseña") }}
                {% for error in form.password.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="confirm_password">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(class="form-control", id="confirm_password" , placeholder="Confirmar contraseña") }}
                {% for error in form.confirm_password.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <button type="submit" class="btn">{{ form.submit.label }}</button>
            <!-- Botón secundario para redirigir al inicio de sesión -->
            <div class="redirect-link">
                <p>¿Tienes una cuenta?</p>
                <a href="{{ url_for('routes.index') }}" class="btn btn-secondary">Iniciar Sesión</a>
            </div>
        </form>


    </main>

    <footer>
        <div class="footer-content">
            <p>Creado con ❤️ para futuras mamás</p>
            <p>&copy; 2024 Mi Embarazo - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>